@model OnlineStoreMVC.Models.Person;

@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Firstname)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Firstname)
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Lastname)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Lastname)
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Password)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Addr1)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Addr1)
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Addr2)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Addr2)
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="col-md-5 col-sm-5">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <a asp-action="CustomerRegistration" >go back</a>
            </div>
            <div class="col-md-5 col-sm-5">
                <a asp-action="ThankYou">submit</a>
            </div>
        </div>
       
    </div>

    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}